{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h2>Je gére mes données</h2>
        </div>
        <div class="col-md-2">
            <a href="{{ path('performances_index') }}" class="btn btn-primary">Performances</a>
        </div>
        <div class="col-md-2">
            <a href="{{ path('spectacle_index') }}" class="btn btn-primary">Spectacles</a>
        </div>
        <div class="col-md-2">
            <a href="{{ path('user_index') }}" class="btn btn-primary">Utilisateur</a>
        </div>
    </div>
</div>
{% endblock %}
